html {
	color: #FFFFFF;
  font-family: 'Droid Sans', sans-serif;
	text-align: center;
	background-image: url(../images/background.gif);
	background-size: cover;
}

div {
	display: inline-block;
	text-align: center;
	list-style-position: inside;
	padding: 20;
	margin: 20;
}

.done {
	float: left;
	text-align: center;
}

.todo {
	float: right;
	text-align: center;
}
	