body {
	color: #FFFFFF;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  /* 
  had to do a little research in order to figure out the gif background, but it worked :) 
  */
  background-image: url(https://media.giphy.com/media/yFtQJMcPTsHpm/source.gif);
  background-size: 100%;
}
/* 
I was thinking of making a background box behind the text and then the text would all be legible,
but this didn't change anything

h1 h2 {
	background-color: white;
	opacity: .5;
}

*/

div {
	display: inline-block;
	text-align: center;
	list-style-position: inside;
	padding: 20;
	margin: 20;
}

.done {
	float: left;
	text-align: center;

	/*
	couldn't make bullets disappear, need to look into that! 
	tried using list-style-type: none;

	also couldn't change text color to black here...
	tried using 	color: black;
	*/
}

.todo {
	float: right;
	text-align: center;
}